<div class="row" id="user-management-container">
  <div class="col-lg-12 app-title">
      <strong> Users Managment <span [matBadge]="users.length" matBadgeOverlap="false"></span></strong>
      <button title="Add New User" class="float-right" mat-mini-fab color="primary" (click)="addNewuser()"><i class="material-icons">add_circle</i></button>
  </div>
  <div class="col-lg-6 col-sm-12 pl-0" id="left-side-user-container">
      <mat-card>
         <mat-card-content>
            <drag-and-drop [role]="'normal'" [users]="users | filterbyrole:'normal'"></drag-and-drop>
        </mat-card-content>
      </mat-card>
  </div>
  <div class="col-lg-6 col-sm-12 pr-0" id="right-side-user-container">
    <router-outlet></router-outlet>
  </div>
</div>