#user-management-container{
    padding: 30px;
    background-color: #eee;
    .app-title{
      text-align: center;
      background-color: #05070e;
      color: #ffffff;
      min-height: 80px;
      padding-top: 20px;
      position: sticky;
      top: 0;
      z-index: 1;
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      strong{
        font-size: 25px;
      }
    }
}